{% extends '::base_reduct.html.twig' %}

 {% block title %}
 EDB Reset Password User Page
{% endblock %}

{% block body %}

	<div class="marketing">
		<h2>Reset Password for User</h2>
		<br>
	</div>
	<div class="row offset4 span4">
		<form class="" action="{{ path('edb_user_reset_password', {'id': id})}}" method="post" {{ form_enctype(form) }}>
				{{ form_errors(form) }}			
				{{ form_row(form) }}
    			{{ form_rest(form) }}
    			<input type="submit" />
			</form>
	</div>
	<div class="row"></div>		
{% endblock %}
