
{%  if not user.isActive %}
	<tr class="warning">
{% else %} 
	<tr>
{% endif %}
	<td><a href="{{ path('ebd_user_show', {'id': user.id}) }}">{{ user.id }}</a></td>
	<td>{{ user.username }}</td>
	<td>{{ user.email }}</td>
	<td><a href="{{ path('edb_user_edit', {'id': user.id}) }}" >edit</a></td>
	<td><a href="{{ path('edb_user_delete', {'id' : user.id}) }}">delete</a></td>
	<td><a href="{{ path('edb_user_reset_password',{'id' : user.id}) }}">reset</a></td>
	{% if user.isActive %}
		<td>active</td>
		<td><a href="{{ path('edb_user_deactivate',{'id' : user.id}) }}">deactivate</a></td>
	{% else %}
		<td>pending</td>
		<td><a href="{{ path('edb_user_activate',{'id' : user.id}) }}">activate</a></td>
	{% endif %}
	
</tr>