{% extends '::base_reduct.html.twig' %}

 {% block title %}
 EDB - Publications
{% endblock %}

{% block body %}

<div class = "row">

	<div class = "span8 offset2">
	<h3>Publications</h3>

	
	<a name="IT"></a>
	<h4>IT Domain</h4>
		<ul>
			<li><p class = "text-justify"><strong>2014</strong>.  G. Pio, F. Fumarola, A.E. Felle, D. Malerba, M.Ceci, <I>Discovering Novelty Patterns from the Ancient Christian Inscriptions of Rome</I>, 
			Journal on Computing and Cultural Heritage, 7(4):22, 2014
			<a href = "http://dl.acm.org/citation.cfm?doid=2669619.2629513" target="_blank"><img width="20" src = {{ asset('img/iconDownload.jpg') }}></a>
			<a href = "http://dl.acm.org/ft_gateway.cfm?id=2629513&ftid=1500464&dwn=1&CFID=575390038&CFTOKEN=38946133" target="_blank"><img width="20" src = {{ asset('img/iconPdf.png') }}></a>
			</p><br> 
			
			<li><p class = "text-justify"><strong>2014</strong>.  F. Fumarola, G. Pio, A. E. Felle, D. Malerba, M. Ceci, <I>EDB: Knowledge technologies for ancient Greek and Latin epigraphy</I>, 
			IRCDL 2013, CCIS 385, pp. 29-40. Springer, Heidelberg (2014), ISSN: 1865-0929 
			<a href = "http://link.springer.com/chapter/10.1007%2F978-3-642-54347-0_4" target="_blank"><img width="20" src = {{ asset('img/iconDownload.jpg') }}></a></p> 
		</ul>

	<br>

	<h4>Epigraphic Domain - About EDB</h4>
		<ul>
			<li><p class = "text-justify"><strong>2014.</strong> 
			A. E. Felle, <I>Perspectives on the digital corpus of the Christian inscriptions of Rome (Epigraphic Database Bari)</I>. 
			Contexts and texts, in Zeitschrift für Papyrologie und Epigraphik, 191, 2014, 302-307.</p><br>	
			
			<li><p class = "text-justify"><strong>2014.</strong>  A. E. Felle, N. Zimmermann, 
			<I>A Case of Interaction between Research Projects: The Epigraphic Database Bari and the Domitilla Projekt</I>, in Information Technologies for Epigraphy and Cultural Heritage. 
			Proceedings of the First EAGLE International Conference  (Paris, September 29-30 - October, 1, 2014), Roma 2014, 75-96.</p><br>	
		
			<li><p class = "text-justify"><strong>2012.</strong> A. E. Felle, <I>Epigraphic Database Bari. Prospettive per un corpus digitale delle iscrizioni cristiane di Roma: contesti e testi</I>, 
				in Öffentlichkeit - Monument - Text (Akten der XIV Congressus Internationalis Epigraphiae Graecae et Latinae, Berlin, 2012, August, 27-31), Berlin.</p><br>	
			<li><p class = "text-justify"><strong>2012.</strong> A. E. Felle, <i>Esperienze diverse e complementari nel trattamento digitale delle fonti epigrafiche: il caso di EAGLE ed EpiDoc</i>, 
				in Diritto romano e scienze antichistiche nell’era digitale. Convegno di studio (Firenze, 12-13 settembre 2011), Torino 2012 
				[Collectanea Graeco-Romana. Studi e strumenti per la ricerca storico-giuridica, 10], 117-130. 
				<a href = "https://www.academia.edu/1551307/Esperienze_diverse_e_complementari_nel_trattamento_digitale_delle_fonti_epigrafiche._Il_caso_di_Eagle_and_EpiDoc" target="_blank"><img width="20" src = {{ asset('img/iconDownload.jpg') }}></a></p><br>
			<li><p class = "text-justify"><strong>2008.</strong> A. E. Felle, <i>EDB - Epigraphic Database Bari, stato del progetto, prospettive future, collaborazioni</i>, 
				in International Conference EAGLE - Electronic Archive of Greek and Latin Epigraphy - Epigrafia informatica e ricerca storica 
				[Roma, Accademia dei Lincei – Centro Interdisciplinare “Beniamino Segre”, 7-8 novembre 2008, I.17. <a href="http://www.edr-edr.it/Download/EAGLE-Testi.pdf" target="_blank"> <img width="20" src = {{ asset('img/iconPdf.png') }}></a></p><br>
			<li><p class = "text-justify"><strong>1997.</strong> <i>Inscriptiones Christianae Vrbis Romae, n.s. - Concordantiae verborum, nominum et imaginum. Tituli graeci</i>, 
				(ICI, Subsidia, 3) comp. A. E. Felle, Edipuglia, Bari 1997.</p><br>	
			<li><p class = "text-justify"><strong>1994.</strong> C. Carletti, <i>Inscriptiones christianae urbis Romae, nova series. Una banca dati</i>, in Vetera Christianorum 
				31, 1994, 357-368.</p><br>
		</ul>
	
	<br>
	
	<h4>Epigraphic Domain - Studies based on EDB</h4>
		<ul>
			<li><p class = "text-justify"><strong>2012.</strong> A. E. Felle, <i>L'apporto dell'Epigraphic Database Bari (EDB) all'analisi dell'apparato figurativo delle iscrizioni dei cristiani di 
			Roma, in Incisioni figurate della Tarda antichità.</i> Atti del Convegno di Studi (Roma, 22-23 marzo 2012), a cura di F. Bisconti - 
			M. Braconi, Città del Vaticano 2013, 99-112.</p></li><br>
	
			<li><p class = "text-justify"><strong>2012.</strong> A. E. Felle, <i>Alle origini del fenomeno devozionale cristiano in Occidente: le inscriptiones 
			parietariae ad memoriam apostolorum</i>, in Martiri, santi, patroni: per una archeologia della devozione. Atti del X Congresso Nazionale di 
			Archeologia Cristiana (Arcavacata di Rende (Cosenza), 15-18 settembre 2010), Cosenza 2012, 477-502.
			<a href="https://www.academia.edu/2143002/Alle_origini_del_fenomeno_devozionale_cristiano_in_Occidente._Le_inscriptiones_parietariae_ad_memoriam_Apostolorum2" target="_blank"><img width="20" src = {{ asset('img/iconDownload.jpg') }}></a></p></li><br>
			
			<li><p class = "text-justify"><strong>2008.</strong> A. E. Felle, Prassi epigrafiche nella catacomba di Domitilla a Roma. Elementi di 
			riflessione, in  Episcopus, ciuitas, territorium. Actas XV Congreso Internacional de Arqueología Cristiana (Toledo, 8-12 septiembre 2008),
			Toledo – Città del Vaticano 2013, 1637-1646.<a href="https://www.academia.edu/5118629/Prassi_epigrafiche_nella_catacomba_di_Domitilla_a_Roma._Elementi_di_riflessione" target="_blank"><img width="20" src = {{ asset('img/iconDownload.jpg') }}></a></p></li><br>
	
			<li><p class = "text-justify"><strong>2007.</strong> A. E. Felle, <i>La documentazione epigrafica della catacomba di Domitilla a Roma alla 
			luce dell'Epigraphic Database Bari: nuovi elementi di riflessione</i>, in 13th International Congress of Greek and Latin Epigraphy (Oxford, 2-7 september 2007)
			<a href="https://www.academia.edu/5118629/Prassi_epigrafiche_nella_catacomba_di_Domitilla_a_Roma._Elementi_di_riflessione" target="_blank"><img width="20" src = {{ asset('img/iconDownload.jpg') }}></a>
			<a href="http://ciegl.classics.ox.ac.uk/html/webposters/30_Felle.pdf" target="_blank"><img width="20" src = {{ asset('img/iconPdf.png') }}></a></p></li><br>
			
			<li><p class = "text-justify"><strong>2007.</strong> A. E. Felle, Fenomeni di compresenza delle lingue e delle scritture greca e latina nella epigrafia romana di committenza cristiana, in Acta XII Congressus 
			Internationalis Epigraphiae Graecae et Latinae. Provinciae Imperii Romani inscriptionibus descriptae (Barcelona, 3-8 septembris 2002), edd. M. Mayer y Olivé, G. Baratta, A. Guzmán Almagro 
			[Monografies de la Sección Histórico-Arqueológica, X], Barcelona 2007, 475-481.
			<a href="https://www.academia.edu/425330/Fenomeni_di_compresenza_delle_lingue_e_delle_scritture_greca_e_latina_nella_epigrafia_romana_di_committenza_cristiana" target="_blank"><img width="20" src = {{ asset('img/iconDownload.jpg') }}></a></p></li><br>
			
			<li><p class = "text-justify"><strong>1999.</strong> A. E. Felle, Manifestazioni di bilinguismo nelle iscrizioni cristiane di Roma, in Atti dell'XI Congresso 
			Internazionale di Epigrafia Greca e Latina (Roma, 18-24 settembre 1997), Roma 1999, 669-678.</p></li>
	</ul>

	</div>
</div>

<br>

{% endblock %}


