<!DOCTYPE html>
<html>
    <head>
    {% block header %}    
        <meta charset="UTF-8" />
        <title>{% block title %}EDB Epigraphic Database Bari / EAGLE{% endblock %}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description"
	content="Epigraphic Database Bari - It stores Epigraphic Documents of Roman Christian Period ">

	<meta name="author"
	content="Computer Science Department University of Bari">
	<meta name="copyright"
	content="Department of Classical and Christian Studies - University of Bari (Italy)">
	<meta name="keywords"
	content="epigraphic, Epigraphic, epigraphic database, epigrafia, database epigrafico,
		iscrizioni romane, iscrizioni latine, roma antica, EAGLE, testi epigrafici">
    {% block stylesheets %}
    	<link rel="stylesheet" href="{{ asset('css/bootstrap.css')}}" />
    	<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css')}}" />
    	<link rel="stylesheet" href="{{ asset('css/docs.css')}}" />
    	<link rel="stylesheet" href="{{ asset('css/tablesorter/style.css')}}" />
    	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    	<link rel="stylesheet" href="{{ asset('css/autocompl.css')}}" />
    {% endblock %} 
    
{#     <link rel="shortcut icon" href="{{ asset('ico/favicon.ico') }}">#}
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('ico/apple-touch-icon-57-precomposed.png') }}">
                                  
	{% endblock %} 
    </head>
    <body>
    
    <!-- navbar -->
    
    <div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand visible-phone visible-tablet" href="{{ path('edb_homepage') }}">EDB</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class=""><a href="{{ path('edb_homepage') }}">Home</a>
						</li>
						<li class=""><a href="{{ path('edb_about') }}">About EDB</a>
						</li>
						<li class=""><a href="{{ path('edb_people') }}">People</a>
						</li>
						<li class=""><a href="{{ path('edb_publications') }}">Publications</a>
						</li>
						<li class="divider-vertical"></li>
						<li class=""><a href="{{ path('edb_search_quick') }}"><strong>Search</strong></a>
						</li>
						
						{% if is_granted('ROLE_ADMIN') %}
							<li class="dropdown">
							<a href="#" id="menuAdmin" role="button" class="dropdown-toggle" data-toggle="dropdown" > Admin <b class="caret"></b></a>
			                <ul class="dropdown-menu" role="menu" aria-labelledby="menuAdmin">
			                  <li class="dropdown-submenu">
			                    <a tabindex="-1" href="#">User</a>
			                    <ul class="dropdown-menu">
			                     <li><a tabindex="-1" href="{{ path('edb_registration') }}">New</a></li>
									<li><a tabindex="-1" href="{{ path('edb_user_list') }}">Show</a>	
			                    </ul>
			                  </li>
			                </ul>
			              	</li>
						{% endif %}
						
						{% if is_granted('ROLE_COMPILER') or is_granted('ROLE_ADMIN')%}
						
						<li class="dropdown">
						<a href="#" id="menuCompiler" role="button" class="dropdown-toggle" data-toggle="dropdown" > Compiler <b class="caret"></b></a>
		                <ul class="dropdown-menu" role="menu" aria-labelledby="menuCompiler">
		                  <li class="dropdown-submenu">
		                    <a tabindex="-1" href="#">Epigraph</a>
		                    <ul class="dropdown-menu">
		                      <li><a tabindex="-1" href="{{ path('edb_epigraph_new') }}">New</a></li>
		                      <li><a tabindex="-1" href="{{ path('edb_epigraph_status') }}">Status</a>
		                    </ul>
		                  </li>
 		                  <li class="divider"></li>
 		                  <li class="dropdown-submenu">
 		                    <a tabindex="-1" href="#">Bibliography</a>
 		                    <ul class="dropdown-menu">
 	                     		<li><a tabindex="-1" href=" {{ path('edb_literature_new') }}">New</a></li>
 								<li><a tabindex="-1" href=" {{ path('edb_literature_list') }} ">Show All</a>
 		                    </ul>
 		                  </li>
		                  <li class="divider"></li>
		           		  <li class="dropdown-submenu">
		                    <a tabindex="-1" href="#">Context</a>
		                    <ul class="dropdown-menu">
								<li><a tabindex="-1" href="{{ path('edb_pertinence_context_edit') }}">Edit</a></li>
									<li class="divider"></li>
								<li><a tabindex="-1" href="{{ path('edb_pertinence_context_edit') }}">Show</a>
		                    </ul>
		                  </li>
		                </ul>
		              	</li>
						{% endif %}
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        	<li><a href="{{ path('edb_security_logout') }}">Logout</a></li>
						{% else %}
    						<li class=""><a href="{{ path('edb_login') }}">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
    
    <div class="container">
    
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">
     	<button type="button" class="close" data-dismiss="alert">×</button>
  		{{ flashMessage }}
  	</div>
	{% endfor %}
    	
	{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-error">
     	<button type="button" class="close" data-dismiss="alert">×</button>
  		{{ flashMessage }}
  	</div>
	{% endfor %}
	
    
    <!-- Masthead================================================== -->
		<header class="jumbotron masthead">
			<div class="inner">
				<img src = {{ asset('img/EDB-Banner.jpg') }}>	
			</div>
		</header>
			 
        {% block body %}{% endblock %}
        
		<!-- Footer
      ================================================== -->
		<footer class="footer">
{# 			{% if btn_back_previous is defined %}#}
{# 			<p class="pull-left">#}
{# 				<a href="{{ btn_back_previous }}">Back to previous</a>#}
{# 			</p>#}
{# 			{% endif %}#}
{# 			<p class="pull-right">#}
{# 				<a href="#">Back to top</a>#}
{# 			</p>#}	
			<div class="row">
				<div class="span2">
					<a href="http://www.uniba.it" target="_blank"><img src={{ asset('img/UNIBA_logo.png') }} width = 200></a>
				</div>
				<div class="span9">
					<p style= "text-align: center">
						<strong>Fed by the</strong> <a href="http://www.uniba.it/ricerca/dipartimenti/sata" target="_blank">Department of Classics and Late Antiquity - University of Bari (Italy)</a>
					</p>
					<p style= "text-align: center">
						<strong>Designed by the</strong> <em>KDDE Group</em>, <strong>hosted at the</strong> <a
							href="http://www.di.uniba.it" target="_blank"><em>Department of Computer Science</em> - University of Bari (Italy)</a><br>
							<strong>Graphic design</strong> by Maria Martinelli - <a href="http://www.uniba.it/ricerca/dipartimenti/sata" target="_blank">Department of Classics and Late Antiquity</a>
					</p>
				</div>
				<div class = "span1">
					<a href="http://eagle-network.eu/" target="_blank"><img src={{ asset('img/EAGLE_logo.png') }} width = 70></a>
				</div>
			</div>	
		</footer>
    </div>
   
      
        
        {% block javascripts %}
        	<script src="{{ asset('js/router.js') }}"></script>
         	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
			<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
			<script src="{{ asset('js/bootstrap-transition.js') }}"></script>
			<script src="{{ asset('js/bootstrap-alert.js') }}"></script>
			<script src="{{ asset('js/bootstrap-modal.js') }}"></script>
			<script src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
			<script src="{{ asset('js/bootstrap-scrollspy.js') }}"></script>
			<script src="{{ asset('js/bootstrap-tab.js') }}"></script>
			<script src="{{ asset('js/bootstrap-tooltip.js') }}"></script>
			<script src="{{ asset('js/bootstrap-popover.js') }}"></script>
			<script src="{{ asset('js/bootstrap-button.js') }}"></script>
			<script src="{{ asset('js/bootstrap-collapse.js') }}"></script>
			<script src="{{ asset('js/bootstrap-carousel.js') }}"></script>
			<script src="{{ asset('js/bootstrap-typeahead.js') }}"></script>
			<script src="{{ asset('js/bootstrap-affix.js') }}"></script>
			<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        {% endblock %}
    </body>
</html>
