{% extends '::base_reduct.html.twig' %}

{% form_theme form 'KddeEdbBundle:Form:fields.html.twig' %}

{% block title %}
 EDB -  Create new Bibliographic Reference
{% endblock %}

{% block body %}
{% include 'KddeEdbBundle:Literature:modalNewJournal.html.twig' %}
{% include 'KddeEdbBundle:Literature:modalNewConference.html.twig' %}
{% include 'KddeEdbBundle:Literature:modalNewVolume.html.twig' %}

	<div class="marketing">
		<h2>New Bibliographic Reference</h2>
		<br>
	</div>
	<div class="row">
		<div class="offset3 span6">
			<form class="form-horizontal" action="{{ path('edb_literature_new')}}" method="post" {{ form_enctype(form) }}>		
				{{ form_widget(form) }}
				<div id="div_bibliography_type" class="control-group">
      				<label style="text-align: left" class="control-label">Type</label>
					<div class="controls">
	      				<select name = "bibliography[type]" id="bibliography_type" class="span2" >
							<option value = "Rivista">Journal</option>
							<option value = "Convegno">Conference</option>
							<option value = "Monografia">Monograph</option>
							<option value = "Corpus">Corpus</option>
							<option value = "Repertorio">Repertory</option>
							<option value = "Volume">Volume</option>
						</select>	
	        		</div>
	        	</div>
	        	
	        	<div id="div_bibliography_authors" class="row">
				<br>
					<div class="span2">
						<label>Author's Name</label> 
						<input type ="text" id="bibliography_authors_name" class="span2" name="bibliography[authors][name]">
					</div>
					<div class="span2">
						<label>Author's Surname</label>
						<input type ="text" id="bibliography_authors_surname" class="span2" name="bibliography[authors][surname]">
					</div>
					<div class="span1 offset1">
						<p></p>
						<button class="btn btn-small btn-warning span1" type="button"
							id="addAuthorToTable">Add</button>
					</div>
				</div>	
				
				<div id="div_bibliography_authors_table" = class="row">
				<br>	
					<div class="span6">
						<table class="table table-condensed table-bordered" id="tableAuthors">
							<thead>
								<tr>
									<th class="span4">Name</th>
									<th class="span4">Surname</th>
									<th class="span2">Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<br>
				</div>		
	        	

	        	
	        	<div id="div_bibliography_volume" class="control-group"  style="display:none">
      				<label style="text-align: left" class="control-label">Volume</label>
					<div class="controls">
	      				<select name = "bibliography[volume]" id="bibliography_volume" class="span5" ></select>	
	        		</div>
	        	</div>
	        	
	        	<div id="div_bibliography_abbr" class="control-group"  style="display:none">
      				<label style="text-align: left" class="control-label">Abbreviation*</label>
					<div class="controls">
	      				<input type ="text" id = "bibliography_abbr" name="bibliography[abbr]" class = "span1" required="required">
	        		</div>
	        	</div>
	        	
	        	
	        	<div id="div_bibliography_title" class="control-group">
      				<label id = "lbl_title" style="text-align: left" class="control-label">Contribute Title*</label>
					<div class="controls">
	      				<input type ="text" id = "bibliography_title" name="bibliography[title]" class = "span5" required="required">
	        		</div>
	        	</div>
	        	
	        	<div id="div_bibliography_conference" class="control-group"  style="display:none">
      				<label style="text-align: left" class="control-label">Conference*</label>
					<div class="controls">
	      				<select name = "bibliography[conference]" id="bibliography_conference" class="span5" ></select>	
	        		</div>
	        	</div>
	        	
	        	<div id="div_bibliography_journal" class="control-group">
      				<label style="text-align: left" class="control-label">Journal Title*</label>
					<div class="controls">
	      				<select name = "bibliography[journal]" id="bibliography_journal" class="span5" ></select>	
	        		</div>
	        	</div>
	        	
				<div id="div_bibliography_number" class="control-group">
      				<label id = "lbl_number" style="text-align: left" class="control-label">Number</label>
					<div class="controls">
	      				<input type ="text" id = "bibliography_number" name="bibliography[number]" class = "span1">
	        		</div>
	        	</div>
	        	
	        	<div id="div_bibliography_editors" class="row" style="display:none">
				<br>
					<div class="span2">
						<label>Editor's Name</label> 
						<input type ="text" id="bibliography_editors_name" class="span2" name="bibliography[editors][name]">
					</div>
					<div class="span2">
						<label>Editor's Surname</label>
						<input type ="text" id="bibliography_editors_surname" class="span2" name="bibliography[editors][surname]">
					</div>
					<div class="span1 offset1">
						<p></p>
						<button class="btn btn-small btn-warning span1" type="button" id="addEditorToTable">Add</button>
					</div>
				</div>	
				
				<div id="div_bibliography_editors_table" = class="row" style="display:none">
				<br>	
					<div class="span6">
						<table class="table table-condensed table-bordered" id="tableEditors">
							<thead>
								<tr>
									<th class="span3">Name</th>
									<th class="span4">Surname</th>
									<th class="span2">Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<br>
				</div>		
	        		        	  
	        	<div id="div_bibliography_edcity" class="control-group"  style="display:none">	
	        		<label id = "lbl_city" style="text-align: left" class="control-label">City of Edition</label>
	        		<div class="controls">
	        			<input type ="text" id = "bibliography_edcity" name="bibliography[edcity]" class = "span2" required="required">
	      			</div>
	      		</div>
	      		
	      		<div id="div_bibliography_pubyear" class="control-group">
      				<label id = "lbl_year" style="text-align: left" class="control-label">Year of Edition*</label>
					<div class="controls">
	      				<input type ="text" id = "bibliography_pubyear" name="bibliography[pubyear]" class = "span1" required="required">
	        		</div>
	        	</div>
	        	
	        	<div id="div_bibliography_pagesfrom" class="control-group">	
	        		<label style="text-align: left" class="control-label">Pages - From*</label>
	        		<div class="controls">
	        			<input type ="text" id = "bibliography_pagesfrom" name="bibliography[pagesfrom]" class = "span1" required="required">
	      			</div>
	      		</div>
	      		
	        	<div id="div_bibliography_pagesto" class="control-group">	
	      			<label style="text-align: left" class="control-label">Pages - To*</label>
	        		<div class="controls">	
	      				<input type ="text" id = "bibliography_pagesto" name="bibliography[pagesto]" class = "span1" required="required">
	        		</div>
	        	</div>
	        	
	        	<div id="div_bibliography_fig" class="control-group">
      				<label style="text-align: left" class="control-label">Fig(s)</label>
					<div class="controls">
	      				<input type ="text" id = "bibliography_fig" name="bibliography[fig]" class = "span5">
	        		</div>
	        	</div>
	        	
	        	<div id="div_bibliography_url" class="control-group">
      				<label style="text-align: left" class="control-label">URL</label>
					<div class="controls">
	      				<input type ="text" id = "bibliography_url" name="bibliography[url]" class = "span5">
	        		</div>
	        	</div>
	        	
	        	<div id="div_bibliography_doi" class="control-group">
      				<label style="text-align: left" class="control-label">DOI</label>
					<div class="controls">
	      				<input type ="text" id = "bibliography_doi" name="bibliography[doi]" class = "span5">
	        		</div>
	        	</div>				
    			<div class="control-group">
    				<div class="controls">
				      <button id ="addNewReference" type="button" class="btn">Submit</button>
				    </div>
				</div>
			</form>
			
		</div>
	</div>
{% endblock %}
{% block javascripts %}
		{{ parent() }}
		 <script src="{{ asset('js/biblio_new.js') }}"></script>
{% endblock %}


