{% extends '::base_reduct.html.twig' %}

{% block title %}
 EDB Literature Page
{% endblock %}

{% block body %}

	<div class="marketing">
		<h2>Bibliographic References</h2>
		<br>
	</div>
<div class="row">
	<div class="offset1">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="span2">Type</th>
					<th class="span3">Generated ID</th>
					<th class="span8">Reference</th>
				</tr>
			</thead>
			<tbody>		
				{% for lit in literatures %}
					<tr>
						<td> {{ lit.tipo }}</td>	
						<td> {{ lit.id }}</td>
						<td>
						{% if lit.tipo == 'Rivista' %}
							{% for author in lit.autori | split('@') %}
								{% set surname_name = author | split(';') %}
									{% if surname_name[1] | length > 0%}
										{{ surname_name[1] | slice(0,1) }}.
									{% endif %}
										{{ surname_name[0] }}, 
							{% endfor %}
							<i>{{ lit.titolo }}</i>,
							{{ lit.idRivista.titolo }},
							{% if lit.numero | length > 0 %}
								{{ lit.numero }},
							{% endif %}
							{{ lit.anno }},
							{{ lit.pagineDa }}-{{ lit.pagineA }}
							
							
						{% elseif lit.tipo == 'Convegno' %}
							{% for author in lit.autori | split('@') %}
								{% set surname_name = author | split(';') %}
									{% if surname_name[1] | length > 0%}
										{{ surname_name[1] | slice(0,1) }}.
									{% endif %}
										{{ surname_name[0] }}, 
							{% endfor %}
							<i>{{ lit.titolo }}</i>, in
							{% if lit.idConvegno.editori | length > 0 %}
								{% set editors = lit.idConvegno.editori | split('@') %}
								{% for i in 0..editors|length-1 %}
									{% set surname_name = editors[i] | split(';') %}
										{% if surname_name[1] | length > 0%}
											{{ surname_name[1] | slice(0,1) }}.
										{% endif %}
											{{ surname_name[0] }}{% if i < editors|length-1 %}, {% endif %}
										{% if i == editors|length-1 %}
											(a cura di), 	
										{% endif %} 
								{% endfor %}
							{% endif %}
							<i>{{  lit.idConvegno.titolo }}</i> ({{ lit.idConvegno.luogoConvegno }} {{ lit.idConvegno.dataConvegno }}),
							{{ lit.idConvegno.cittaEdizione }}
							{{ lit.idConvegno.annoEdizione }},
							{{ lit.pagineDa }}-{{ lit.pagineA }}
							
							
						{% elseif lit.tipo == 'Monografia' %}
							{% for author in lit.autori | split('@') %}
								{% set surname_name = author | split(';') %}
									{% if surname_name[1] | length > 0%}
										{{ surname_name[1] | slice(0,1) }}.
									{% endif %}
										{{ surname_name[0] }}, 
							{% endfor %}
							<i>{{lit.titolo }}</i>,
							{{ lit.cittaEdizione }}
							{{ lit.anno }}
						{% elseif lit.tipo == 'Repertorio' %}
							{{ lit.titolo }}
						{% elseif lit.tipo == 'Corpus' %}
							<i>{{ lit.titolo }}</i>. 
							{{ lit.numero }}
							{% if lit.editori | length > 0 %},
								{% set editors = lit.editori | split('@') %}
								{% for i in 0..editors|length-1 %}
									{% set surname_name = editors[i] | split(';') %}
										{% if surname_name[1] | length > 0%}
											{{ surname_name[1] | slice(0,1) }}.
										{% endif %}
											{{ surname_name[0] }}{% if i < editors|length-1 %}, {% endif %}
										{% if i == editors|length-1 %}
											(a cura di), 	
										{% endif %} 
								{% endfor %}
							{% endif %}
							{% if lit.editori | length == 0 %}, {% endif %}
							
							{{ lit.cittaEdizione }}
							{{ lit.anno }}
						
						{% elseif lit.tipo == 'Volume' %}
							 {% for author in lit.autori | split('@') %}
								{% set surname_name = author | split(';') %}
									{% if surname_name[1] | length > 0%}
										{{ surname_name[1] | slice(0,1) }}.
									{% endif %}
										{{ surname_name[0] }}, 
							{% endfor %}
							<i>{{ lit.titolo }}</i>, in
							{% if lit.idVolume.editori | length > 0 %}
								{% set editors = lit.idVolume.editori | split('@') %}
								{% for i in 0..editors|length-1 %}
									{% set surname_name = editors[i] | split(';') %}
										{% if surname_name[1] | length > 0%}
											{{ surname_name[1] | slice(0,1) }}.
										{% endif %}
											{{ surname_name[0] }}{% if i < editors|length-1 %}, {% endif %}
										{% if i == editors|length-1 %}
											(a cura di), 	
										{% endif %} 
								{% endfor %}
							{% endif %}
							<i>{{  lit.idVolume.titolo }}</i>,
							{{ lit.idVolume.cittaEdizione }}
							{{ lit.idVolume.annoEdizione }},
							{{ lit.pagineDa }}-{{ lit.pagineA }}
						{% endif %}		
						</td>		
					</tr>
				{% endfor %}
			</tbody>
			
		</table>
	</div>
</div>
		
{% endblock %}
