{% extends '::base.html.twig' %}

{% form_theme form 'KddeEdbBundle:Form:fields.html.twig' %}

{% block title %}
 EDB Home Page
{% endblock %}

{% block body %}

	<div class="marketing">
		<h2>Edit Origin Context</h2>
		<br>
	</div>
	<div class="row">
		<div class="offset4 span5">
			<label>Select Original Context Area</label>
			<select id="selectPertinenceArea" class="span3"
			{% for area in pertinenceAreas %}
				<option value="{{ area.id }}"> {{ area.description }}</option>
			{% endfor %}
			</select>
			<label>Location</label>
				<select id="selectPertinenceContext" class="span3" name="">
						<option></option>
				</select>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="offset3 span5">
			<div id="map" class="map"></div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="offset3 span5">
		<label>Address</label>
    	<input class="input-block-level" id="address" type="text" placeholder="Type the address...">
	</div>
	<hr>
	<div class="row">
		<div class="offset4 span5">
			<form class="" action="{{ path('edb_pertinence_context_edit')}}" method="post" {{ form_enctype(form) }}>
				{{ form_errors(form) }}			
				{{ form_row(form) }}
    			{{ form_rest(form) }}
    			<input type="submit" />
			</form>
		</div>
	</div>
	
{% endblock %}

{% block javascripts %}
	
		{{ parent() }}
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>		
		<script src="{{ asset('js/jquery-autocomplete.js') }}"></script>
		<script src="{{ asset('js/gmap3.min.js') }}"></script>
		<script src="{{ asset('js/pertinenceContext.js') }}"></script>
		 
{% endblock %}
