{% extends '::base_reduct.html.twig' %}

 {% block title %}
 EDB - People
{% endblock %}

{% block body %}

<div class="row show-grid">
	<div class="span12" style="text-align: left">
		<h4>&nbsp;&nbsp;Epigraphic Domain</h4>
	</div>
</div>

Department of Classics and Late Antiquity - University of Bari Aldo Moro (Italy)<br>
<strong> Tel:</strong> +39 080 5717904<br>
<strong> Skype:</strong> edb.uniba<br>
<strong> E-mail:</strong> edbuniba_@_gmail.com<br><br>



<div class="row">

	
	<!-- Daniela -->
	<div class="span1.5">
			<a href="https://uniba-it.academia.edu/AntonellaDanielaAgostinelli" class="thumbnail">
				<img src="{{ asset('people_photos/Daniela.png')}}" width="90px">
			</a>
	</div>
	
	<div class="span3">
		<p><strong><a href=https://uniba-it.academia.edu/AntonellaDanielaAgostinelli>Antonella Daniela Agostinelli</a></strong></p>
		<p>IT-Epigraphic Activities Assistant<br> Compiler</p>
	</div>
	<!-- Fine Daniela -->
	
	
	
	<!-- Carletti -->
	<div class="span1.5">
		<a class="thumbnail">
			<img src="http://placehold.it/90x120">
		</a>
	</div>
	
	<div class="span3">
		<p><strong>Carlo Carletti</strong></p>
		<p>Project Creator<br> Compiler</p>
	</div>
	<!-- Fine Carletti -->
	
	
	<!-- Felle -->
	<div class="span1.5">
			<a href=https://uniba-it.academia.edu/AntonioEnricoFelle class="thumbnail">
				<img src="{{ asset('people_photos/Felle.png')}}" width="90px">
			</a>
	</div>
	<div class="span2">
		<p><strong><a href=https://uniba-it.academia.edu/AntonioEnricoFelle>Antonio Enrico Felle</a></strong></p>
		<p>Project Director<br> Editor<br> Compiler</p>
	</div>
	<!-- Fine Felle -->
</div>

<br>

<div class="row">

	<!-- Filippo -->
	<div class="span1.5">
			<a class="thumbnail">
				<img src="http://placehold.it/90x120">
				<!--<img src="{{ asset('people_photos/Filippo.png')}}" width="90px">-->
			</a>
	</div>
	<div class="span3">
		<p><strong>Filippo Antonio Piazzolla</strong></p>
		<p>Compiler</p>
	</div>
	<!-- Fine Filippo -->	


	<!-- Anita -->
	<div class="span1.5">
			<a class="thumbnail">
				<img src="http://placehold.it/90x120"> 
				<!-- <img src="{{ asset('people_photos/Anita.png')}}" width="90px">  -->
			</a>
	</div>
	<div class="span3">
		<p><strong>Anita Rocco</strong></p>
		<p>IT-Epigraphic Activities Coordinator<br> Editor<br> Compiler
	</div>
	<!-- Fine Anita -->
</div>

<br>

<div class="row show-grid">
	<div class="span12" style="text-align: left">
		<h4>&nbsp;&nbsp; IT Domain</h4>
	</div>
</div>

Department of Computer Science - University of Bari Aldo Moro (Italy)<br>
<strong> Tel:</strong> +39 080 5442299<br>
<strong> E-mail:</strong> gianvito.pio_@_uniba.it<br><br>

<div class="row">

	<!-- Michelangelo -->
	<div class="span1.5">
			<a href=http://www.di.uniba.it/~ceci/ class="thumbnail">
				<img src="{{ asset('people_photos/Michelangelo.jpg')}}" width="90px">
			</a>
	</div>
	
	<div class="span3">
		<p><strong><a href=http://www.di.uniba.it/~ceci/>Michelangelo Ceci</a></strong></p>
		<p></p>
	</div>
	<!-- Fine Michelangelo -->
	
	
	
	<!-- Donato -->
	<div class="span1.5">
		<a href=http://www.di.uniba.it/~malerba/ class="thumbnail">
			<img src="{{ asset('people_photos/Donato.png')}}" width="90px">
		</a>
	</div>
	
	<div class="span3">
		<p><strong><a href=http://www.di.uniba.it/~malerba/>Donato Malerba</a></strong></p>
		<p></p>
	</div>
	<!-- Fine Donato -->
	
	
	<!-- Gianvito -->
	<div class="span1.5">
			<a href=http://www.di.uniba.it/~gianvitopio/ class="thumbnail">
				<img src="{{ asset('people_photos/Gianvito2.png')}}" width="90px">
			</a>
	</div>
	<div class="span2">
		<p><strong><a href=http://www.di.uniba.it/~gianvitopio/>Gianvito Pio</a></strong></p>
		<p></p>
	</div>
	<!-- Fine Gianvito -->
</div>

<br>

<div class="row show-grid">
	<div class="span12" style="text-align: left">
		<h4>&nbsp;&nbsp; Past Collaborators</h4>
	</div>
</div>

<div class="row">
	<div class=span3>
		<strong>Epigraphic Domain</strong><br>
		Cristina Grisanzio<br> 
		Ruggero Lombardi<br>
		Marida Pierno<br>
		Miriam Ramunni<br>
		Domenico Schiraldi<br>
		Carolina Ventura<br>
	</div>


	<div class=span3>
		<strong>IT Domain</strong><br>
		Costantina Caruso<br>
		Sergio D'Addato<br>
		Vito Falco<br>
		Antonio Franzoso<br>
		Fabio Fumarola<br>
		Francesco Latino<br>
		Michele Stolfa<br>
	</div>
</div>

{% endblock %}


