{% extends '::base.html.twig' %}

 {% block title %}
 EDB Home Page
{% endblock %}

{% block body %}

	<div class="marketing">
		<h2>Epigraph EDB{{ e.id }}</h2>
		<br>
	</div>
	<div class="row">
				<table class="table table-striped table-condensed">
					<tr>
						<td><strong>Volume ICVR:</strong> <em>{{ e.icvr.volume }} </em></td>
						<td><strong>Principal Number:</strong> <em>{{ e.principalProgNumber }} </em></td>
						<td><strong>Sub Number:</strong> <em>{{ e.subNumeration }} </em></td>
					</tr>
					<tr>
						<td><strong>Reference Literature</strong></td>
						<td><em>{{ e.literatures | join(", ") }}</em></td>
						<td></td>
					</tr>
					<tr class="warning">
						<td><strong>Pertinence</strong></td>
						<td></td>
						<td></td>
					</tr>
					

					{% for c in e.pertinence %}
						<tr>
							<td><strong>Area:</strong> <em>{{ c.pertinenceArea.description }} </em></td>
							<td><strong>Context:</strong> <em>{{ c.context.description }} </em></td>
							<td><strong>In Situ:</strong> 
								<em>
								{% if c.inSitu == true %}
									<i class="icon-ok"></i>
								{% else %}
									<i class="icon-remove"></i>
								{% endif %}
								</em> 
							</td>
						</tr>
					{% endfor %}
					<tr class="warning">
						<td><strong>Conservation</strong></td>
						<td></td>
						<td><strong>Lost:</strong> 
								<em>
								{% if e.lost == 'S' %}
									<i class="icon-ok"></i>
								{% else %}
									<i class="icon-remove"></i>
								{% endif %}
								</em> 
							</td>
					</tr>
					{% for c in e.conservations %}
						<tr>
							<td></td>
							<td><strong>Context:</strong> <em>{{ c.conservationContext.description }} </em></td>
							<td></td>
			
						</tr>
					{% endfor %}
					<tr class="warning">
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><strong>Support:</strong> <em>{{ e.material.support.description }} </em></td>
						<td><strong>Technique:</strong> <em>{{ e.material.technique.description }} </em></td>
						<td></td>	
					</tr>
					<tr>
						<td><strong>Metrical Text:</strong> <em>{{ e.metricText }} </em></td>
						<td><strong>Divergent Text:</strong> <em>{{ e.divergentText }} </em></td>
						<td><strong>Function:</strong> <em>{{ e.funzione.description }} </em></td>
					</tr>
					
					<tr class="warning">
						<td><strong>Dating</strong></td>
						<td></td>
						<td></td>
					</tr>
					{% if e.datings|length > 0 %}
						{% for d in e.datings %}
						<tr>
							<td></td>
							<td><strong>from</strong> <em>{{ d.from }} </em></td>
							<td><strong>to</strong> <em>{{ d.to }} </em></td>	
						</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td></td>
							<td><strong>from</strong> <em> n.d. </em></td>
							<td><strong>to</strong> <em> n.d. </em></td>
						</tr>
					{%  endif %}
					
					<tr>
						<td><strong>Compilation Date:</strong> <em>{{ e.dataScheda }} </em></td>
						{% if e.compilator != null %}
							<td><strong>Compilator:</strong> <em>{{e.compilator.firstname}} {{ e.compilator.lastname }} </em></td>
						{% elseif  e.oldCompilator != null %}
							<td><strong>Compilator:</strong> <em>{{ e.oldCompilator }} </em></td>
						{% endif %}						
						<td><a href="http://pcas.xdams.net/pcas-web/scheda/fotografico/ICVR/{{ e.id }}/scheda.html" onclick="window.open(this.href);return false;">Link PCAS</a></td>
					</tr>
					<tr>
						<td colspan="3">
							<div class="hero-unit">
								<p class="lead" id="cardo">{{e.trascription}}</p>
							</div>
						</td>
					</tr>
					<tr class="error">
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
	<div class="row"></div> 		
{% endblock %}
