{% extends '::base.html.twig' %}

{% block title %}EDB Basic Search{% endblock %}

{% block body %}

	<div class="marketing">
		<h2>Search Epigraphs</h2>
		<br>
	</div>
	<div class="row">
		<div class="offset3 span8">
			<form class="form-horizontal" action="{{ path('edb_search_basic_do')}}" method="post" {{ form_enctype(form) }}>		
			
				<fieldset>
				
				<h4>Inscription</h4>
      				<div class="row">
      					<div class="span4">
							<textarea class = "span4" style = "font-family:Cardo" rows="3" name="search[transcription]" id="transcription"></textarea>
							<button id="greekToogle" type="button" class="btn" data-toggle="button">Click to write in Greek</button>
      					</div>
      					<div class="span0"></div>
	      				<div class = "offset1">
							<input type="checkbox" id="search_thesaurus" name="search[thesaurus]">
							<label class="checkbox inline" for="search_thesaurus">Use Thesaurus</label>  
							
	      				</div> 
	      				<div class="span0"></div>
	      				<div class = "offset1">	
	      					<input type="checkbox" id="search_nodiacr" name="search[yesdiacr]">
	      					<label class="checkbox inline" for="search_nodiacr">Consider Common Diacritical Marks</label>  
	      				</div>
	      				<div class="span0"></div>
	      				<div class = "offset1">
	      					<input type="checkbox" id="search_nogreek" name="search[yesgreek]">
	      					<label class="checkbox inline" for="search_nogreek">Consider Greek Diacritical Marks</label>  
	      				</div>	
      				</div> 
      				<br>
      				<div class="row">
					
						<div class="span2">
							<label>Reuse/Opistographic</label> 
							<select id="search_opistographic" class = "span1" name="search[opistographic]"> 	
								<option value="All">All</option>
								<option value="S">Yes</option>
								<option value="N">No</option>
							</select>
						</div>
						
						<div class="span2">
							<label>Metrical Text</label> 
							<select id="search_metrical" class="span1" name="search[metrical]">
								<option value="All">All</option>
								<option value="S">Yes</option>
								<option value="N">No</option>
							</select>
						</div>	
						
						<div class="span2">
							<label>Greek</label> 
							<select id="search_greek" class="span1" name="search[greek]">
								<option value="All">All</option>
								<option value="S">Yes</option>
								<option value="N">No</option>
							</select>
						</div>			
							
						<div class="span2">
							<label>Latin/Greek</label> 
							<select id="search_greeklatin" class="span1" name="search[greeklatin]">
								<option value="All">All</option>
								<option value="S">Yes</option>
								<option value="N">No</option>
							</select>
						</div>				

					</div>
					
		
				<hr>
				
				<h4>Bibliography</h4>
    				<div class="row">
    					<div class="span2">
	      					<label>Volume ICVR</label>
							<select class = "span2" id="search_icvr" name="search[icvr]">
								<option value=""></option>
								{% for icvr in icvrs %}
									<option value="{{ icvr.id }}"> {{ icvr.volume }}</option>
								{% endfor %}				
							</select>
      					</div>
      				
	      				<div class="span2">	
	      					<label>Reference</label>
							<select class="span2" id="search_biblio" name="search[biblio]">			
							</select>
	      				</div>	
      				</div>	
      				
      				<hr>   
      			<h4>Location</h4>	
      				<div class="row">
      					<div class="span3">
							<label>Original Context</label> 
							<select id="search_area" name="search[area]">
								<option></option>
							</select>
						</div>
							
						<div class = "span2">
							<label>In Situ</label>
							<select class="span1" id="search_insitu" name="search[insitu]">
								<option value="All">All</option>
								<option value="true">Yes</option>
								<option value="false">No</option>				
							</select>
						</div>
      				</div>
      				<br>
      				<div class="row">
      					<div class="span3">
							<label>Conservation</label> 
							<select id="search_cons_area" name="search[cons_area]">
								<option></option>
							</select>
      					</div>
      					<div class = "span2">
							<label>Lost</label>
							<select class="span1" id="search_lost" name="search[lost]">
								<option value="All">All</option>
								<option value="S">Yes</option>
								<option value="N">No</option>				
							</select>
						</div>
      				</div>
      				  	
					<br>
					
					<h4>What and How</h4>	
					<div class="row">
					
						<div class="span2">
							<label>Type of Support</label> 
							<select id="search_support" class = "span2" name="search[support]"> 	
								<option value="All">All</option>
								{% for supp in supports %}
									<option value="{{ supp.id }}"> {{ supp.description }}</option>
								{% endfor %}
							</select>
						</div>
						
						<div class="span2">
							<label>Executing Technique</label> 
							<select id="search_technique" class="span2" name="search[technique]">
								<option value="All">All</option>
								{% for tech in techniques %}
									<option value="{{ tech.id }}"> {{ tech.description }}</option>
								{% endfor %}
							</select>
						</div>				
					
						<div class="span2">
							<label>Function</label> 
							<select id="search_function" class="span2" name="search[function]">								
								<option value="All">All</option>
								{% for fun in functions %}
									<option value="{{ fun.id  }}"> {{ fun.description }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					
					<br>
	
					<h4>When</h3>
					<div class="row">
						<div class="span3">
						<label>Dating Interval</label> 
						<select id="selectDating" class="span3" name="search[dating]">
							<option value = "All">All</option>
							{% for d in datings %}
								<option value="{{ d.id }}">{{ d.description }}</option>
							{% endfor %}
						</select>
						{% for d in datings %}
							<input type="hidden" id = "datingFrom{{d.id}}" name="datingFrom{{d.id}}" value="{{ d.from }}">
							<input type="hidden" id="datingTo{{d.id}}" name="datingTo{{d.id}}" value="{{ d.to }}">
						{% endfor %}	
						</div>

						<div class="span2">
							<label>Specific Time Span</label><input type="checkbox"	id="checkPreciseYear" name="search[adAnnum]">
						</div>

						<div class="span1">
							<label>From</label> 
							<input id="inputAnnumFrom" name="search[from]" type="text" class="span1" value = "n.d." disabled="disabled">
						</div>
					
						<div class="span1">
							<label>To</label> 
							<input id="inputAnnumTo" name="search[to]" type="text" class="span1" value = "n.d." disabled="disabled">
						</div>
					</div>
	
					<br>
					
      				<h4>Other</h4>
      				<div class="row">
      					<div class="span2">
	      					<label>Type</label>
							<select class="span2" id="search_type" name="search[type]">
								<option value="-1">All</option>
								{% for type in types %}
									<option value="{{ type.id }}"> {{ type.description }}</option>
								{% endfor %}				
							</select>
      					</div>
      					
      					<div class="span2">
	      					<label>Compiler</label>
							<select class="span2" id="search_compiler" name="search[compiler]">
								<option value="-1">All</option>
								{% for comp in compilers %}
									{% if comp.isActive == true %}
										<option value="{{ comp.firstname }} {{ comp.lastname }}"> {{ comp.firstname }} {{ comp.lastname }}</option>
									{% endif %}
								{% endfor %}				
							</select>
      					</div>
      				</div>
      				
				{{ form_rest(form) }}
				
				<br>
    			<div class="centered">
    				<div class="controls">
				      <button id = "submitButton" type="submit" class="btn">Search</button>
				    </div>
				</div>
  				</fieldset>
			</form>
		</div>
	</div>
	
{% endblock %}

{% block javascripts %}
		{{ parent() }}
		 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		 <script src="{{ asset('js/basic-search.js') }}"></script>
		 <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		 <script src="{{ asset('js/autocompl.js') }}"></script>
		 <script src="{{ asset('js/keyboard.js') }}"></script>
{% endblock %}
