{% extends '::base_reduct.html.twig' %}

{% block header %}
	{{ parent() }}

	<!-- google maps v3 -->
	<!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
  		#map_canvas { width:550px;height: 300px; margin-right: auto ;margin-left: auto ; }
	</style>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true" ></script>-->
{% endblock %}

{% block title %}
EDB Search Result Page
{% endblock %}

{% block body %}

{% include 'KddeEdbBundle:GeoPosition:modalViewGeoPosition.html.twig' %}

<div class="marketing">
	<h2>Search Results</h2>
	<h3>Got {{ count }} Inscription{% if count > 0 %}s{% endif %}</h3>
	<br>
</div>
<div class="row">
	<div>
		<table id="epiResults" name="epiResults" class="table table-striped table-bordered tablesorter">
			<thead>
				<tr>
					<th>ID</th>
					<th>ICVR</th>
					<th>Bibliography</th>
					<th>Pertinence</th>
					<th>Conservation</th>
					<th>Text</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for e in pagination %}
					<tr class="warning">
						<td> {{ e.id }}</td>	
						<td> {{ e.principalProgNumber }} {{ e.subNumeration }}</td>	
						<td>
							{% for lit in e.literatures %}
								{{ lit.idRiferimento.id }}<br>
							{% endfor %}
						</td>
						<td>
						{% if e.pertinence | length > 0 %}
							{{ e.pertinence[0].context.description }}
						{% endif %}
						</td>
						<td>
						{% if e.conservations | length > 0 %}
							{% if e.conservations[0].conservationLocation.description == 'n.d.' %}
								-
							{% else %}
								{{ e.conservations[0].conservationLocation.description }} <br> {{ e.conservations[0].conservationContext.description}}
							{% endif %}	
						{% endif %}
						</td>
						<td class = "span7"> {{ e.trascription | slice(0,80) }} 
						{% if e.trascription|length > 80 %}
    						...
						{% endif %}
						</td>
						{% if isAdmin == true %}		
							<td><a target = "_blank" href="{{ path('edb_epigraph_show', {'id': e.id}) }}" >Show </a> &nbsp; <a target = "_blank" href="{{ path('edb_epigraph_edit', {'id': e.id}) }}" >Edit</a> </td>	
						{% else %}
							<td><a target = "_blank" href="{{ path('edb_epigraph_show', {'id': e.id}) }}" >Show </a></td>	
						{% endif %}			
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="pagination offset4">
	<ul>
		{{ knp_pagination_render(pagination) }}
    </ul>
</div>
{% endblock %}
{% block javascripts %}
		{{ parent() }}
		<script src="{{ asset('js/jquery.tablesorter.js') }}"></script>
		<script src="{{ asset('js/basic-result.js') }}" type="text/javascript"></script>
{% endblock %}
